<!--<p>Ingrese su nombre: <input type="text" [(ngModel)]="alumno.nombre"></p>
<p>Ingrese su apellido: <input type="text" [(ngModel)]="alumno.apellido"></p>-->
<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-primary">
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Edad
            </th>
            <th>
                Notas
            </th>
            <th>
                Nota Media
            </th>
            <th>
                Última nota
            </th>
            <th>
                Activo/No Activo
            </th>
            <th>
                LinkedIn
            </th>
            <th>
                Ausencias
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alum of alumnos" class="table-light">
            <td>
                <p>{{alum.nombre}} {{alum.apellido}}</p>
            </td>
            <td>
                {{alum.email}}
            </td>
            <td>
                {{alum.edad}}
            </td>
            <td>
                <p>
                    {{ alum.notas.join(', ') }}
                </p>
            </td>
            <td>
                {{calcularMediaNotas(alum)}}
            </td>
            <td>
                {{alum.notas[alum.notas.length-1]}}
            </td>
            <td>
                {{ alum.activo ? 'Activo' : 'No Activo' }}
            </td>
            <td>
                {{alum.linkedin}}
            </td>
            <td>
                <p *ngIf="alum.diasFaltas>0; else noFalta">Días faltados en total: {{alum.diasFaltas}}</p>
                <ng-template #noFalta>
                    <p>No ha faltado nunca</p>
                </ng-template>
                <button type="button" class="btn btn-success" (click)="aumentasDias(alum)">Añadir día</button>
                <button *ngIf="alum.diasFaltas>0" type="button" class="btn btn-danger"
                    (click)="disminuirDias(alum)">Disminuiur día</button>
            </td>
        </tr>
    </tbody>
</table>